<%layout('layout')%>

<div class='panel panel-primary'>
	<div class='panel-heading'> 
		Изменение пароля
	</div>
	<div class='panel-body'>
		<form role='form' action='/user/newpassword' method='post'>
			<div class='form-group'>
				<label for='oldpassword'>
					Старый пароль
				</label>
				<input type='password' id='oldpassword' name='oldpassword' class='form-control'>
			</div>
			<br><br>
			<div class='form-group'>
				<label for='newpassword'>
					Новый пароль
				</label>
				<input type='password' id='newpassword' name='newpassword' class='form-control'>
				<label for='newpasswordencore'>
					Еще раз
				</label>
				<input type='password' id='newpasswordencore' name='newpasswordencore' class='form-control'>
			</div>
			<br><br>
			<button type='submit' class='btn btn-success'>Изменить</button>

		</form>
	</div>

</div>