<form role='form'>
	<div class='alert alert-info'>
		Вы можете добавить ссылку на amdm.ru и импортировать песню, а можете заполнить все своими руками
	</div>
	<div class='form-group'>
		<label for='link'>Ссылка на <a href='http://amdm.ru' target='blank'>amdm.ru</a>, где расположена песня. Текст будет скопирован оттуда.</label>
		<div class="row">
			<div class='col-xs-5'>
				<input type='text' name='copylink2' id='link' class='form-control' ng-model="importlink">
			</div>
			<div class='col-xs-5'>
				<button class='btn btn-success' id="importButton" ng-click="import()">Импортировать</button>
				<label for='link' class='' id="Alert" style='display: none'></span>
			</div>		
		</div>
	</div>
	<div class='form-group'>
		<label for='authorOfSing'>Автор песни</label>
		<input type='text' name="author" id='authorOfSing' class='form-control' ng-model="song.author">
	</div>
	<div class='form-group'>
		<label for='nameOfSing'>Название песни</label>
		<input type='text' name="name" id='nameOfSing' class='form-control' ng-model="song.name">
	</div>
	<input type='hidden' name="copylink" id="copylink" ng-model="song.copylink">
	<div class='form-group'>
		<label for='text'>Текст произведения</label>
		<textarea name="text" id='text' class='form-control tinymce' style='height: 200px;' ng-model="song.text"></textarea>
	</div>
	<button type="submit" class="btn btn-default" ng-click='create()'>Добавить песню</button>
</form>