<div ng-repeat='(index, author) in authors | orderByKey'>
	<b>{{index}}</b>
	<ul class='list-unstyled'>
		<li ng-repeat='(second_index, song) in author'>
			<div style='display: inline-block'>
				<a href='#/song/{{song._id}}'>{{song.author}} - {{song.name}}</a>
			</div>
			<div style="display: inline-block; float: right;" ng-if='$root.auth && $root.user.id==song.user_id'>
				<a ng-click='edit(song)'><span class='glyphicon glyphicon-pencil'></span></a> 
				<a ng-click='delete(song._id, authors, index, second_index)'><span class='glyphicon glyphicon-remove'></span></a> 
			</div>
		</li>
	</ul>
</div>

<div ng-if="!songs.length">
	Каталог пользователя пуст
</div>