
<div class='col-sm-4' ng-repeat='(ind, type) in search_types'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			Результаты с сайта <b><a href='http://{{type}}.ru' class='white' target="blank">{{type}}.ru</a></b>
		</div>
		<ul class="list-group">
			<li ng-repeat="(index, song) in search_results[type]" class="list-group-item">
				<div class='row' id="Cell_{{type}}_{{index}}">
					<div class='loading_small'>
						Ожидаем ответа...
					</div>
					<div class='col-sm-8'>
						<a href="{{song.link}}" target="blank">
							{{song.artist}} - {{song.name}}
						</a>
						<span class="added small text-muted"></span>
					</div>
					<div class='col-sm-4'>
						<div class='btn-group-sm'>
							<button title='Добавить песню к себе в каталог' type='button' class='btn btn-default' ng-click="add_song(song, index)">
								<span class='glyphicon glyphicon-plus'></span>
							</button>
							<button title='Посмотреть текст' ng-click="show_song(song, index)" type='button' class='btn btn-default'>
								<span class='glyphicon glyphicon-eye-open'></span>
							</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
</div>

<!-- Modal -->
<div class="modal fade" id="textView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button ng-click="clearModal()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{current_song.author}} - {{current_song.name}}</h4>
      </div>
      <div class="modal-body">
        <pre ng-bind-html="current_song.text">
        </pre>
      </div>
      <div class="modal-footer">
        <button ng-click="clearModal()" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" id="saveSongButton" class="btn btn-primary" ng-click="add_song()">
        	Сохранить к себе в каталог
        </button>
      </div>
    </div>
  </div>
</div>
