<!DOCTYPE html>
<html ng-app="App" ng-controller="MainController">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<head>
	<title>Личный песенник</title>

	<link rel='stylesheet' type='text/css' href='/bootstrap/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='/styles/app.css'>
	<script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/scripts/angular.min.js"></script>
	<script type="text/javascript" src="/scripts/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/scripts/angular-route.min.js"></script>
	<script type="text/javascript" src="/scripts/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/scripts/script.js"></script>
  	<script type="text/javascript" src="/tinymce/tinymce.min.js"></script>

</head>
<body>

	<div class='container-fluid bg-primary' id="Head">
		<div class='row'>
			<div class='col-md-3 col-md-offset-1'>
				<div id="Logo">
					<span ng-click="goto_home()">Песенник</span>
				</div>
			</div>
			<div class='col-md-8'>
				<div id='SearchPanel'>
					<form id="SearchForm" ng-submit="search(query)" class='form-horizontal'>
						<div>
							<p class='form-control-static'>Поиск песен, аккордов, исполнителей</p>
						</div>
						<div class='input-group'>
							<input class='form-control' type="text" ng-model="query" name="query" placeholder="Введите запрос">
							<span class='input-group-btn'>
								<input class='btn btn-defult' type='submit' style='color:black' value='Искать'>
							</span>
						</div>	
						<div>
							<p class='form-control-static'> </p>
						</div>
					</form>
				</div>
			</div>
			<div class='col-md-7'>
			</div>
		</div>
	</div>
	<div class='container-fluid' id="Main">
		<div class="row">
			<div class='col-md-1' id="MARGIN_LEFT">
				<div class='text-center' ng-if='$root.loading'>
					<img src="/images/loading.gif">
				</div>
			</div>
			<div class="col-md-3" id="LEFT_SECTION">
				<div class='ps-block' id="Auth" ng-controller="authController">
					<div class='alert alert-danger' ng-if='!!errorMessage'>
						{{errorMessage}}
					</div>
					<div class='authform' ng-if="!$root.auth">
						<form role='form'>
							<div class='form-group'>
								<input ng-model='form.login' type='text' name='login' placeholder="Логин" class='form-control'>
							</div>
							<div class='form-group'>
								<input type='password' ng-model='form.password' name='password' placeholder="Пароль" class='form-control'>
							</div>
							<div class='form-group'>
								<div class='row'>
									<div class='col-sm-6'>
										<ul class='list-unstyled'>											
											<li>
												<input ng-model="form.remember_me" type="checkbox" id="remMe" class='form-contol'>
												<label for="remMe">
													<small>
														Запомнить меня
													</small>
												</label>
											</li>
											<li><small><a href='#/signup'>Регистрация</a></small></li>
										</ul>
									</div>
									<div class='col-sm-6'>
										<input type='submit' ng-click="signin()" value="Войти" class='form-control'>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class='personal-block' ng-if='$root.auth'>
						<b>{{$root.user.login}}</b>
						<span class='glyphicon glyphicon-log-out' ng-click='signout()'></span>
						<div>
							<button data-toggle="modal" data-target="#changePasswordModal" class='btn btn-link btn-sm'>
								Изменить пароль
							</button>
						</div>
					</div>
				</div>
				<div class='clearfix'></div>
				<div class='ps-block' id="Menu">
					<ul class='nav nav-pills nav-stacked'>
						<li ng-if="!!$root.auth">
							<a href='#/list/'>Мой Каталог</a>
						</li>
						<li ng-if='!!$root.auth'>
							<a href='#/create/'>Добавить песню</a>
						</li>
						<li>
							<a href='#/users/'>Пользователи</a>
						</li>
					</ul>
				</div>
			</div>


			<div class="col-md-7" id="CENTER_SECTION">
				<div ng-view>
					empty block
				</div>
			</div>
		</div>
	</div>

	<div class='container-fluid' id="Footer">
		<div class='row'>
			<div class='col-md-offset-4 col-md-7'>
				<p class='text-muted'>
					Чтобы использовать старую версию сайта, нажмите <b><a href='/switch_version' class='text-muted'>сюда</a></b><br>
					По всем вопросам: <strong><a href='http://vk.com/ea_korolev' target="blank" class='text-muted'>vk.com/ea_korolev</a></strong><br>
				</p>
			</div>
		</div>
	</div>

	<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button ng-click="clearModal()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					Изменить пароль
				</div>
				
				<form ng-submit="change_password()" id="changePasswordForm" role="form" class="form-horizontal">
					<div class='row'>
						<br>
						<div class='col-sm-10 col-sm-offset-1'>
							<input 
								class='form-control' 
								type='password' 
								ng-model="old_password"
								name='old_password' 
								placeholder="Старый пароль"
							>
						</div>
						<br><br><BR>
						<div class='col-sm-10 col-sm-offset-1'>
							<input 
								class='form-control' 
								type='password' 
								name='new_password1'
								ng-model="new_password1" 
								placeholder="Новый пароль"
							>
						</div>
						<BR><BR>
						<div class='col-sm-10 col-sm-offset-1'>
							<input 
								class='form-control' 
								type='password' 
								name='new_password2' 
								ng-model="new_password2"
								placeholder="Новый пароль еще раз"
							>
						</div>
						<br><br><BR>
					</div>

				<div class="modal-footer">
					<input
						type="submit"
						id="changePasswordButton"
						class="btn btn-primary"
						value="Отправить"
					>
		        </div></form>
			</div>
	    </div>
	</div>

</body>
</html>